@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"),
    url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2)
      format("woff2");
}

.logo {
  width: 23.2rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  padding-right: 12rem;
  padding-top: 1.2rem;

  .menu {
    height: 4.8rem;
    width: 4.8rem;
    color: #5f6368;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;

    svg {
      width: 2.4rem;
      height: 2.4rem;
      fill: rgb(95, 99, 104);

      path {
        height: 1.2rem;
        width: 1.8rem;
      }
    }

    &:hover {
      background-color: rgba(60, 64, 67, 0.08);
      outline: none;
      border-radius: 50%;
    }
  }

  .logo-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.4rem;
    width: 9.7533rem;
    margin-left: 0.2rem;

    img {
      width: 4rem;
      height: 4rem;
      margin-bottom: 0.4rem;
      margin-right: 0.4rem;
    }

    span {
      padding-left: 0.4rem;
      font-size: 2.2rem;
      color: #5f6368;
      opacity: 1;
      position: relative;
      top: -0.3rem;
      vertical-align: middle;
      font-family: Product Sans, sans-serif;
      padding-top: 0.4rem;
      font-weight: 400;
    }
  }
}

.search {
  padding-right: 3rem;
  width: 91.2rem;
  height: 4.6rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  background: #f1f3f4;
  border: 1px solid transparent;
  max-width: 72rem;
  left: -8rem;
  top: 0.2rem;
  transition: background 100ms ease-in,width 100ms ease-out;
  padding-left: 2rem;

  svg {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  input {
      padding-left: 1rem;
    padding: 1.1rem 0;
    background: transparent;
    border: none;
    font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none;
    height: 4.6rem;
    outline: none;
    width: 61.5rem;
  }

  &:hover {
    background: rgba(255,255,255,1);
    border: 1px solid transparent;
    -moz-box-shadow: 0 1px 1px 0 rgba(65,69,73,0.3),0 1px 3px 1px rgba(65,69,73,0.15);
    box-shadow: 0 1px 1px 0 rgba(65,69,73,0.3),0 1px 3px 1px rgba(65,69,73,0.15);
  }
}

.utilities {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26.8rem;
}